/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

#chatbox{
  height:120px;
  overflow:scroll;
  overflow-x: hidden;
}

.timestamp{
  font-size: 0.8em;
  color: darkgray;
}

#remoteVideos video {
 height: 300px;
}
#localVideo {
  height: 170px;
}