<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="remoteVideos"></div>
        </div>
        <div class="col-md-6">
            <div id="whiteboard"></div>
        </div>
    </div>
    <div class="row">
        <div id="student01" class="col-md-4">
            <video id="localVideo"></video>
        </div>
        <div id="chatmodule" class="col-md-8">
            <div id="chatbox">
                <span ng-repeat="chat in chats"><b>{{chat.who}}</b>: {{chat.message}} <span class="timestamp">({{chat.timestamp|date:"dd/MM/yy HH:mm:ss"}})</span><br></span>
            </div>
            <form class="thing-form">
                <p class="input-group">
                    <input type="text" class="form-control" placeholder="Insert chat here." ng-model="newChat">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="addChat()">Send</button>
                  </span>
                </p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pull-center">
            {{status}}
        </div>
        <div class="col-md-12" ng-show="isTutor">
            <button class="btn btn-danger form-control" ng-click="stopRecord()">Close Session</button>
        </div>
    </div>
</div>

