



#chatmodule{
	height: 190px;
  border-style: solid;
  border-color: gray;

}


#chatbox{
  height:100px;
  overflow:scroll;
  overflow-x: hidden;
  background-color: white;
  margin-top: 20px;
}

.timestamp{
  font-size: 0.8em;
  color: darkgray;
  
}

#remoteVideos video {
  height: 300px;
  border-radius: 4px;
  border-style: solid;
  border-color: gray;
}
#localVideo {
  height: 190px;
  border-style: solid;
  /*border-radius: 4px;*/
  border-color: gray;
  border-width: medium;
  /*background-color: gray;*/
}