#chatmodule{
}

#chatbox{
  height:100px;
  overflow:scroll;
  overflow-x: hidden;
  background-color: white;
  margin-top: 20px;
}

.timestamp{
  font-size: 0.8em;
  color: darkgray;
}

#remoteVideos video {
  height: 300px;
}

#localVideo {
  height: 170px;
}